<% include ../partials/header %>
    <% if(product != null){ %>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-offset-3 col-sm-offset-3">
                <ul class="list-group">
                    <% product.forEach(function(product){ %>
                        <li class="list-group-item">
                            <span class="badge" style="color : grey;">
                                <%= product.qty %>
                            </span>
                            <strong><%= product.item.title %></strong>
                            <span class="label label-success">$ <%= product.price %></span>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cart Action
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Increase by 1</a>
                                <a class="dropdown-item" href="/reduce/<%= product.item._id %>">Decrease by 1</a>
                                <a class="dropdown-item" href="#">Remove everything</a>
                              </div>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-offset-3 col-sm-offset-3">
               <strong>Total : $ <%= totalPrice %></strong>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-offset-3 col-sm-offset-3">
               <a href="/checkout" class="btn btn-success" type="button">checkout</a>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-offset-3 col-sm-offset-3">
               <h2>Empty Cart</h2>
            </div>
        </div>
    <% } %>
<% include ../partials/footer %>